@model Smadot.Models.Entities.Personal.Request.PersonalRequest
@{
    Layout = "~/Views/Shared/_LayoutSmadot.cshtml";
    ViewData["Title"] = Model.IdUsuario == 0 ? "Registro de Personal" : "Editar Usuario";
}

@section styles{
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.min.css" type="text/css" />
    <style>
        .ui-autocomplete {
            position: absolute;
            cursor: default;
            z-index: 99999 !important;
        }
    </style>
}

@section breadcrumb{
    <li class="breadcrumb-item text-muted">
        <a href="#" class="text-muted text-hover-primary">Seguimiento a CVV </a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item">
        <a href="#" class="text-hover-primary">@ViewData["Title"]</a>
    </li>
    }


@section toolbar{
    <a class="btn btn-sm fw-bold btn-primary" id="btnPreview">Vista previa</a>
    @*<a class="btn btn-sm fw-bold btn-primary" id="btnValidate">Validar</a>*@
    <a class="btn btn-sm fw-bold btn-primary" id="btnSave">Guardar</a>
    <a class="btn btn-sm fw-bold btn-secondary" asp-controller="Personal" asp-action="Index">Cancelar</a>
    }

<form role="form" id="form_registro" clase="clearfix">
    <div class="card shadow-sm mb-5">
        <div class="card-body">
            <h4>Usuario</h4>
            <input asp-for="IdUsuario" id="IdUsuario" hidden />
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-4  fv-row">
                    <label class="form-label required">Nombre: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase" asp-for="Nombre" name="Nombre" id="Nombre" type="text"  />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4  fv-row">
                    <label class="form-label required">Correo: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control " asp-for="CorreoUsuario" name="CorreoUsuario" id="CorreoUsuario" type="text" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-4  fv-row">
                    <label class="form-label required">Teléfono: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control " asp-for="TelefonoUsuario" name="TelefonoUsuario" id="TelefonoUsuario" type="text" onkeypress="return SoloNumeros(this,'TelefonoUsuario')" />
                    </div>
                </div>
            </div>
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">Fecha de nacimiento: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase datepicker-js" asp-for="FechaNacimiento" type="text" name="FechaNacimiento" id="FechaNacimiento" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">Género: &nbsp;</label>
                    <div class="position-relative">
                        <select class="form-control  select2" asp-items="(List<SelectListItem>)ViewBag.Generos" asp-for="Genero" name="Genero" id="Genero">
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">RFC: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase" asp-for="Rfc" type="text" name="Rfc" id="Rfc" maxlength="13" onblur="return validarRFC('Rfc');" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">CURP: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase" asp-for="Curp" type="text" name="Curp" id="Curp"  />
                    </div>
                </div>
            </div>
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required" for="IdAlmacen">Puesto:</label>
                    <div class="position-relative">
                        <select class="form-control  select2" asp-items="(List<SelectListItem>)ViewBag.TipoPuesto" asp-for="IdPuesto" name="IdPuesto" id="IdPuesto">
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                </div>
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">Número de trabajador: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase" asp-for="NumeroTrabajador" type="text" name="NumeroTrabajador" id="NumeroTrabajador" />
                    </div>
                </div>
            </div>
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">Fecha de capacitación inicio: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase datepicker-js" asp-for="FechaCapacitacionInicio" type="text" name="FechaCapacitacionInicio" id="FechaCapacitacionInicio" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">Fecha de capacitación final: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase datepicker-js" asp-for="FechaCapacitacionFinal" type="text" name="FechaCapacitacionFinal" id="FechaCapacitacionFinal" />
                    </div>
                </div>
            </div>
            <div class="d-flex mb-6 mt-6">
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label required">Fecha de incorporación: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase datepicker-js" asp-for="FechaIncorporacion" type="text" name="FechaIncorporacion" id="FechaIncorporacion" />
                    </div>
                </div>
                <div class="py-2 px-4 col-md-6  fv-row">
                    <label class="form-label">Fecha de acreditación de norma: &nbsp;</label>
                    <div class="position-relative">
                        <input class="form-control  input-uppercase datepicker-js" asp-for="FechaAcreditacionNorma" type="text" name="FechaAcreditacionNorma" id="FechaAcreditacionNorma" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 mb-5">
        <div class="card card-flush h-md-100">
            <div class="card-header pt-7">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-800">Horario</span>
                </h3>
            </div>
            <div class="card-body pt-6">
                <div class="table-responsive">
                    <table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
                        <thead>
                            <tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
                                <th class="p-0 pb-3 min-w-175px text-start">Día</th>
                                <th class="p-0 pb-3 min-w-100px text-start">Hora inicial</th>
                                <th class="p-0 pb-3 min-w-100px text-start">Hora final</th>
                                <th class="p-0 pb-3 min-w-175px text-start pe-12">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.HorarioRequest)
                            {
                                <tr>
                                    <td class="text-start pe-0">
                                        <input id="Dia-@item.Id" value="@item.Dia" hidden />
                                        <span class="text-gray-600 fw-bold fs-6">@item.Dia</span>
                                    </td>
                                    <td class="text-end pe-0">
                                        <input class="form-control  input-uppercase w-50" id="HoraInicio-@item.Id" type="time" value="@item.HoraInicio" @Html.Raw(string.IsNullOrEmpty(item.HoraInicio) && string.IsNullOrEmpty(item.HoraFin) ? "disabled" : "") />
                                    </td>
                                    <td class="text-end pe-0">
                                        <input class="form-control  input-uppercase w-50" id="HoraFin-@item.Id" type="time" value="@item.HoraFin" @Html.Raw(string.IsNullOrEmpty(item.HoraInicio) && string.IsNullOrEmpty(item.HoraFin) ? "disabled" : "") />
                                    </td>
                                    <td class="text-end pe-0">
                                        <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                                            <input class="form-check-input w-45px h-30px chkDay" data-dia="@item.Id" type="checkbox" @Html.Raw(!string.IsNullOrEmpty(item.HoraInicio) && !string.IsNullOrEmpty(item.HoraFin) ? "checked" : "")>
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 mb-5">
        <div class="card card-flush h-md-100">
            <div class="card-header pt-7">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-800">Documentos</span>
                </h3>
            </div>
            <div class="card-body pt-6 d-flex row">
                <div class="py-2 px-4 col-md-3">
                    <label class="form-label">INE</label><br />
                    <div class="fv-row">
                        <div class="dropzone" id="dropzonejs1">
                            <div class="dz-message needsclick">
                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Suelte los archivos aquí o haga clic para cargarlos.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 px-4 col-md-3">
                    <label class="form-label">Foto</label><br />
                    <div class="fv-row">
                        <div class="dropzone" id="dropzonejs2">
                            <div class="dz-message needsclick">
                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Suelte los archivos aquí o haga clic para cargarlos.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 px-4 col-md-3">
                    <label class="form-label">Seguro social</label><br />
                    <div class="fv-row">
                        <div class="dropzone" id="dropzonejs3">
                            <div class="dz-message needsclick">
                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Suelte los archivos aquí o haga clic para cargarlos.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 px-4 col-md-3">
                    <label class="form-label">Firma</label><br />
                    <div class="fv-row">
                        <div class="dropzone" id="dropzonejs4">
                            <div class="dz-message needsclick">
                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Suelte los archivos aquí o haga clic para cargarlos.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="py-2 px-4 col-md-3">
                    <label class="form-label">Contrato</label><br />
                    <div class="fv-row">
                        <div class="dropzone" id="dropzonejs5">
                            <div class="dz-message needsclick">
                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Suelte los archivos aquí o haga clic para cargarlos.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

    </div>

</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/dist/jquery-ui.min.js"></script>
    <script src="~/lib/daterangepicker/js/daterangepicker.js"></script>
    <script src="~/lib/es6-shim/dist/es6-shim.min.js"></script>
    <script asp-append-version="true" src="~/js/Personal/smadot.personal.registro.js"></script>
    }
