@model List<Smadot.Models.Entities.SolicitudFormaValorada.Response.SolicitudFormaValoradaResponse>
<table class="table table-dark table-striped table-rounded border gy-7 gs-7" id="tableSolicitud">
    <thead>
        <tr class="fw-semibold fs-6 text-gray-900 border-bottom-2 border-gray-200">
            <th>Clave del Certificado</th>
            <th>Tipo de Certificado</th>
            <th>Cantidad*</th>
    </thead>
    <tbody>
        @foreach (var certificado in Model)
        {
            <tr data-idCatTipoCertificado="@certificado.IdCatTipoCertificadoSC">
                <td>@certificado.ClaveCertificadoSC</td>
                <td>@certificado.TipoCertificadoSC</td>
                <td class="d-none">
                    <input type="text" asp-for="@certificado.TipoCertificadoSC" class="form-control d-none">
                    <input type="text" asp-for="@certificado.ClaveCertificadoSC" class="form-control d-none">
                </td>
                <td class="fv-row"><input type="text" asp-for="@certificado.CantidadSC" class="form-control cantidadInput">
                </td>
            </tr>
        }
    </tbody>
</table>