@using Smadot.Models.DataBase;
@using Smadot.Utilities.FileStorage
@model vReposicionVerificacion

<div class="d-flex mb-6 mt-6">
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Placa:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.Placa" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Serie:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.Serie" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">No. Tarjeta de Circulación:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.TarjetaCirculacion" type="text" disabled />
        </div>
    </div>
</div>
<div class="d-flex mb-6 mt-6">
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Marca:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.Marca" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Modelo:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.Modelo" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Año:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.Anio" type="text" disabled />
        </div>
    </div>
</div>
<div class="d-flex mb-6 mt-6">
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Semestre:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.Semestre" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Tipo de certificado:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@Model.TipoCertificadoFV" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Vigencia:&nbsp;<strong class="obligatorio">*</strong></label>
        <div class="position-relative">
            <input class="form-control" value="@(((DateTime)Model.Vigencia.Value).ToString("d"))" type="text" disabled />
        </div>
    </div>
</div>
<div class="d-flex mb-6 mt-6">
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Folio Asignado:</label>
        <div class="position-relative">
            <input class="form-control" value="@Model.FolioFoliosFormaValoradaVerificentro" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Número de referencia:</label>
        <div class="position-relative">
            <input class="form-control" value="@Model.NumeroReferencia" type="text" disabled />
        </div>
    </div>
    <div class="py-2 px-4 col-md-4">
        <label class="form-label">Entidad de Procedencia:</label>
        <div class="position-relative">
            <input class="form-control" value="@Model.EntidadProcedencia" type="text" disabled />
        </div>
    </div>
</div>
<hr />
<div class="d-flex">
    <div class="py-2 px-4 col-md-3">
        @if (Model.UrlDoc1 != null)
        {
            <a class="btn btn-outline btn-outline-dashed me-2 mb-2"
           download="referencia_pago_@(Model.Serie+"."+StorageManager.GetPathExtension(Model.UrlDoc1))"
           href="/FilesStorage?url=@StorageManager.GetParsePathWithOutContainer(Model.UrlDoc1)" title="Descargar"
           role="button">
                <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                     height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                              fill="#000000" />
                        </g>
                    </svg>
                </span>
                Identificación Oficial
            </a>
        }
    </div>
    <div class="py-2 px-4 col-md-3">
        @if (Model.UrlDoc2 != null)
        {
            <a class="btn btn-outline btn-outline-dashed me-2 mb-2"
           download="referencia_pago_@(Model.Serie+"."+StorageManager.GetPathExtension(Model.UrlDoc2))"
           href="/FilesStorage?url=@StorageManager.GetParsePathWithOutContainer(Model.UrlDoc2)" title="Descargar"
           role="button">
                <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                     height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                              fill="#000000" />
                        </g>
                    </svg>
                </span>
                Tarjeta de Circulación
            </a>
        }
    </div>
    <div class="py-2 px-4 col-md-3">
        @if (Model.UrlDoc3 != null)
        {
            <a class="btn btn-outline btn-outline-dashed me-2 mb-2"
           download="referencia_pago_@(Model.Serie+"."+StorageManager.GetPathExtension(Model.UrlDoc3))"
           href="/FilesStorage?url=@StorageManager.GetParsePathWithOutContainer(Model.UrlDoc3)" title="Descargar"
           role="button">
                <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                     height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                              fill="#000000" />
                        </g>
                    </svg>
                </span>
                Comprobante de Pago
            </a>
        }
    </div>
</div>

